[user]
	name = Bradley Portnoy
	email = bradley.portnoy@gmail.com
[color]
	ui = true
[credential]
	helper = osxkeychain
[core]
	aurocrlf = input
	safecrlf = true
	editor = vim
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[rerere]
	enabled = true
